h1{
	color: red;
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 2px white;
	padding-top: 20px;
	
}
.bde img {
	width: 90px;

}
h2 {
	color:red;
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 2px blue;
	padding-top: 20px;
	padding-right: 10px;
}
.social{
	float: right;
	font-size: 24px;
	color: #090964;
}

h3 { 
	color: blue;
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 2px red;
	font-size: 14px;
	padding-top: 10px;
}

.logo img {
	width: 150px;
	height: 150px;
	background-color: #11c067d4;
	padding:10px;
}
.logo img:hover {
	border:2px solid red;
	background-color: grey;
}

.menu ul li{
		width:183px;
		height:45px;
		float:left;
		text-align: center;

}
.menu {
	padding-top: 30px;
}

.menu ul li{
	display: inline;
	padding-left: 30px;
	font-size: 18px;
}

.menu ul li a{
	color: blue; 
	font-weight: bold;
	text-decoration: none;
}
.menu ul li a:hover {
	color: grey;
}


}
.dropdown{
	display: inline;
	color: blue; 
	font-weight: bold;
}
.image img {
	width: 100%;
	height: 450px;
	padding: 20px;
}
p {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	text-align: justify;
}
.link {
	margin: 20px;
	background-color: #11c037d5;
}

.gallery img {
	width: 300px;
	height: 300px;

}